<div class="h-screen overflow-hidden">

  <div class="w-full max-w-[1200px] mx-auto px-5 h-full">

    <div class="h-full w-full flex flex-col">

      <header class="py-10">
        <img src="/assets/logo.svg" alt="logo">
      </header>

      <main class="pt-20 pb-10 grid grid-cols-1 lg:grid-cols-2 gap-x-10">
        <ng-content select="[content]" />

        <div class="hidden lg:block">
            <img src="/assets/pictures/auth-layout-picture.svg" alt="picture">
        </div>
      </main>
    </div>

  </div>

</div>
